In [35]:
# Alexandre Brilhante

import sqlite3
import pandas as pd
import numpy as np
import datetime

db = 'database.sqlite'
connect = sqlite3.connect(db)
query = "SELECT name FROM sqlite_master WHERE type = 'table';"
pd.read_sql(query, connect)

                name
0    sqlite_sequence
1  Player_Attributes
2             Player
3              Match
4             League
5            Country
6               Team
7    Team_Attributes

In [36]:
# Initialize

query = "SELECT * FROM player;"
players_df = pd.read_sql(query, connect)

query = "SELECT * FROM player_attributes"
player_stats_df = pd.read_sql(query, connect)

pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 200)

In [37]:
# Merge the player and player_attribute data
df = players_df.merge(player_stats_df, how='inner', on='player_api_id')

df['date'] = pd.to_datetime(df['date'])

# Unnecessary columns
df.drop(['id_x', 'id_y', 'player_fifa_api_id_x', 'player_fifa_api_id_y'], 1, inplace=True)
ratings_df = df[['player_api_id', 'player_name', 'date', 'overall_rating', 'potential']]

# Drop players without any rating
ratings_df = ratings_df.drop(ratings_df[ratings_df['overall_rating'].isnull()].index)

# Sorting by rating rather than age
ratings_df.sort_values(['player_name', 'player_api_id', 'overall_rating'],
                       ascending=[True, True, False], inplace=True)

# Change the date to just the year
ratings_df['date'] = ratings_df['date'].apply(lambda x: x.year)

In [44]:
# Grouping the players by the year
group = ratings_df.groupby('date')

# Dropping the duplicate player entries per year
ratings_df_unique = group.apply(lambda x: x.drop_duplicates(subset = 'player_api_id', keep = 'first'))

# Grouping the df again into another df group object
group = ratings_df_unique.groupby('date')

Ranking players based on overall ratings

In [50]:
data = group.apply(lambda x: x.sort_values(by='overall_rating', ascending=[False]).sort_values(
    by=['overall_rating'], ascending=[False]).reset_index(drop=True).head(15))

In [51]:
""" Best team possible for each year. """

data

         player_api_id             player_name  date  overall_rating  \
date
2007 0           30829            Wayne Rooney  2007            93.0
     1           30717        Gianluigi Buffon  2007            93.0
     2           39989          Gregory Coupet  2007            92.0
     3           30893       Cristiano Ronaldo  2007            91.0
     4           30743              Ronaldinho  2007            91.0
     5           30626           Thierry Henry  2007            91.0
     6           30627              John Terry  2007            91.0
     7           30723        Alessandro Nesta  2007            91.0
     8           34520         Fabio Cannavaro  2007            91.0
     9           38843              Ze Roberto  2007            90.0
     10          41044                    Kaka  2007            90.0
     11          30714         Francesco Totti  2007            90.0
     12          30728         David Trezeguet  2007            90.0
     13          30631           Frank Lampard  2007            90.0
     14          30709               Luca Toni  2007            89.0
2008 0           30657           Iker Casillas  2008            91.0
     1           30893       Cristiano Ronaldo  2008            91.0
     2           30717        Gianluigi Buffon  2008            90.0
     3           30981            Lionel Messi  2008            90.0
     4           41044                    Kaka  2008            90.0
     5           35724      Zlatan Ibrahimovic  2008            89.0
     6           30859               Petr Cech  2008            88.0
     7           30613           Cesc Fabregas  2008            88.0
     8           30924           Franck Ribery  2008            88.0
     9           30853         Fernando Torres  2008            88.0
     10          30661            Carles Puyol  2008            88.0
     11          30618          Steven Gerrard  2008            88.0
     12          30723        Alessandro Nesta  2008            88.0
     13          30627              John Terry  2008            88.0
     14          39854          Xavi Hernandez  2008            87.0
2009 0           30657           Iker Casillas  2009            91.0
     1           30717        Gianluigi Buffon  2009            90.0
     2           30981            Lionel Messi  2009            90.0
     3           30893       Cristiano Ronaldo  2009            90.0
     4           30989             Julio Cesar  2009            89.0
     5           41044                    Kaka  2009            89.0
     6           35724      Zlatan Ibrahimovic  2009            89.0
     7           30859               Petr Cech  2009            88.0
     8           30618          Steven Gerrard  2009            88.0
     9           30661            Carles Puyol  2009            88.0
     10          30865           Nemanja Vidic  2009            88.0
     11          30924           Franck Ribery  2009            88.0
     12          30853         Fernando Torres  2009            88.0
     13          30613           Cesc Fabregas  2009            87.0
     14          31235                   Diego  2009            87.0
2010 0           30981            Lionel Messi  2010            90.0
     1           30657           Iker Casillas  2010            90.0
     2           30989             Julio Cesar  2010            89.0
     3           30893       Cristiano Ronaldo  2010            89.0
     4           30829            Wayne Rooney  2010            89.0
     5           30661            Carles Puyol  2010            88.0
     6           30822           Didier Drogba  2010            88.0
     7           30717        Gianluigi Buffon  2010            88.0
     8           30613           Cesc Fabregas  2010            88.0
     9           35724      Zlatan Ibrahimovic  2010            88.0
     10          30865           Nemanja Vidic  2010            88.0
     11          30618          Steven Gerrard  2010            88.0
     12          30909             David Villa  2010            88.0
     13          30853         Fernando Torres  2010            88.0
     14          30627              John Terry  2010            87.0
2011 0           30981            Lionel Messi  2011            94.0
     1           39854          Xavi Hernandez  2011            92.0
     2           30893       Cristiano Ronaldo  2011            92.0
     3           30955          Andres Iniesta  2011            91.0
     4           30834            Arjen Robben  2011            90.0
     5           30829            Wayne Rooney  2011            90.0
     6           30657           Iker Casillas  2011            89.0
     7           30865           Nemanja Vidic  2011            89.0
     8           30613           Cesc Fabregas  2011            88.0
     9           33639            Samuel Eto'o  2011            88.0
     10          30878         Wesley Sneijder  2011            88.0
     11          38817            Carlos Tevez  2011            88.0
     12          30924           Franck Ribery  2011            88.0
     13          30909             David Villa  2011            88.0
     14          35724      Zlatan Ibrahimovic  2011            88.0
2012 0           30981            Lionel Messi  2012            94.0
     1           30893       Cristiano Ronaldo  2012            92.0
     2           30955          Andres Iniesta  2012            91.0
     3           39854          Xavi Hernandez  2012            91.0
     4           30924           Franck Ribery  2012            90.0
     5           30829            Wayne Rooney  2012            90.0
     6           30834            Arjen Robben  2012            89.0
     7           30865           Nemanja Vidic  2012            89.0
     8           30657           Iker Casillas  2012            89.0
     9           30613           Cesc Fabregas  2012            89.0
     10          22543          Radamel Falcao  2012            88.0
     11          37482            Gerard Pique  2012            88.0
     12          35724      Zlatan Ibrahimovic  2012            88.0
     13          37459             David Silva  2012            88.0
     14          30843        Robin van Persie  2012            88.0
2013 0           30981            Lionel Messi  2013            94.0
     1           30893       Cristiano Ronaldo  2013            92.0
     2           39854          Xavi Hernandez  2013            90.0
     3           22543          Radamel Falcao  2013            90.0
     4           30924           Franck Ribery  2013            90.0
     5           30955          Andres Iniesta  2013            90.0
     6           35724      Zlatan Ibrahimovic  2013            89.0
     7           30843        Robin van Persie  2013            89.0
     8           30657           Iker Casillas  2013            88.0
     9           30829            Wayne Rooney  2013            88.0
     10          30834            Arjen Robben  2013            88.0
     11          30865           Nemanja Vidic  2013            88.0
     12          37412           Sergio Aguero  2013            88.0
     13          37459             David Silva  2013            88.0
     14          80562            Thiago Silva  2013            88.0
2014 0           30981            Lionel Messi  2014            94.0
     1           30893       Cristiano Ronaldo  2014            92.0
     2           30834            Arjen Robben  2014            90.0
     3           27299            Manuel Neuer  2014            90.0
     4           30924           Franck Ribery  2014            90.0
     5           35724      Zlatan Ibrahimovic  2014            90.0
     6           30955          Andres Iniesta  2014            89.0
     7           40636             Luis Suarez  2014            89.0
     8           22543          Radamel Falcao  2014            89.0
     9           30843        Robin van Persie  2014            89.0
     10         107417             Eden Hazard  2014            88.0
     11          39854          Xavi Hernandez  2014            88.0
     12          30872  Bastian Schweinsteiger  2014            88.0
     13          37412           Sergio Aguero  2014            88.0
     14          80562            Thiago Silva  2014            88.0
2015 0           30981            Lionel Messi  2015            94.0
     1           30893       Cristiano Ronaldo  2015            93.0
     2           30834            Arjen Robben  2015            90.0
     3           40636             Luis Suarez  2015            90.0
     4           27299            Manuel Neuer  2015            90.0
     5           35724      Zlatan Ibrahimovic  2015            89.0
     6          107417             Eden Hazard  2015            89.0
     7           19533                  Neymar  2015            89.0
     8           30955          Andres Iniesta  2015            88.0
     9           30924           Franck Ribery  2015            88.0
     10          80562            Thiago Silva  2015            88.0
     11          30872  Bastian Schweinsteiger  2015            88.0
     12          37459             David Silva  2015            88.0
     13          41884       Giorgio Chiellini  2015            87.0
     14          37412           Sergio Aguero  2015            87.0
2016 0           19533                  Neymar  2016            90.0
     1           27299            Manuel Neuer  2016            90.0
     2           30834            Arjen Robben  2016            89.0
     3           36378             Mesut Oezil  2016            88.0
     4          107417             Eden Hazard  2016            88.0
     5           37412           Sergio Aguero  2016            88.0
     6           93447      Robert Lewandowski  2016            88.0
     7           30894            Philipp Lahm  2016            87.0
     8          164684         James Rodriguez  2016            87.0
     9           31921             Gareth Bale  2016            87.0
     10          95078              Toni Kroos  2016            87.0
     11          36183          Jerome Boateng  2016            87.0
     12          30962            Sergio Ramos  2016            87.0
     13         182917            David De Gea  2016            87.0
     14          30613           Cesc Fabregas  2016            87.0

         potential
date
2007 0        93.0
     1        93.0
     2        93.0
     3        94.0
     4        93.0
     5        91.0
     6        90.0
     7        92.0
     8        92.0
     9        90.0
     10       91.0
     11       92.0
     12       92.0
     13       92.0
     14       90.0
2008 0        92.0
     1        94.0
     2        93.0
     3        95.0
     4        93.0
     5        94.0
     6        91.0
     7        91.0
     8        92.0
     9        90.0
     10       90.0
     11       90.0
     12       91.0
     13       90.0
     14       88.0
2009 0        92.0
     1        93.0
     2        95.0
     3        94.0
     4        90.0
     5        93.0
     6        94.0
     7        91.0
     8        91.0
     9        90.0
     10       90.0
     11       92.0
     12       91.0
     13       91.0
     14       90.0
2010 0        95.0
     1        92.0
     2        90.0
     3        94.0
     4        92.0
     5        90.0
     6        90.0
     7        92.0
     8        92.0
     9        90.0
     10       90.0
     11       91.0
     12       92.0
     13       91.0
     14       90.0
2011 0        96.0
     1        92.0
     2        94.0
     3        93.0
     4        91.0
     5        92.0
     6        92.0
     7        91.0
     8        90.0
     9        88.0
     10       90.0
     11       89.0
     12       89.0
     13       88.0
     14       88.0
2012 0        96.0
     1        94.0
     2        93.0
     3        91.0
     4        90.0
     5        92.0
     6        90.0
     7        89.0
     8        90.0
     9        92.0
     10       90.0
     11       91.0
     12       88.0
     13       91.0
     14       88.0
2013 0        97.0
     1        95.0
     2        90.0
     3        92.0
     4        90.0
     5        92.0
     6        89.0
     7        89.0
     8        89.0
     9        88.0
     10       88.0
     11       88.0
     12       90.0
     13       89.0
     14       88.0
2014 0        97.0
     1        92.0
     2        90.0
     3        90.0
     4        90.0
     5        90.0
     6        89.0
     7        91.0
     8        89.0
     9        89.0
     10       90.0
     11       88.0
     12       88.0
     13       90.0
     14       88.0
2015 0        94.0
     1        93.0
     2        90.0
     3        90.0
     4        90.0
     5        89.0
     6        91.0
     7        94.0
     8        88.0
     9        88.0
     10       88.0
     11       88.0
     12       88.0
     13       87.0
     14       87.0
2016 0        94.0
     1        90.0
     2        89.0
     3        89.0
     4        90.0
     5        88.0
     6        89.0
     7        87.0
     8        93.0
     9        89.0
     10       89.0
     11       88.0
     12       87.0
     13       90.0
     14       87.0

In [49]:
data.groupby('date').sum().sort_values(['overall_rating'], ascending=[False])

      player_api_id  overall_rating  potential
date
2007         492336          1363.0     1378.0
2012         481456          1344.0     1365.0
2011         487372          1343.0     1363.0
2014         607749          1342.0     1351.0
2013         531335          1340.0     1354.0
2015         613385          1338.0     1345.0
2008         485748          1332.0     1374.0
2009         477633          1330.0     1377.0
2010         466758          1326.0     1371.0
2016         955572          1317.0     1339.0

In [48]:
""" The best team is 2007. """

' The best team is 2007. '